<a href="https://colab.research.google.com/github/arpit0891/Stock-Prediction-Using-Twitter-Sentiment-Analysis/blob/main/stock_sentiment_with_limits.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np

In [5]:
import pandas as pd
from nltk.classify import NaiveBayesClassifier
from nltk.corpus import subjectivity
from nltk.sentiment import SentimentAnalyzer
from nltk.sentiment.util import *
import matplotlib.pyplot as mlpt

In [7]:
import tweetpy
import csv
import pandas as pd
import random
import numpy as np
import pandas as pd

ModuleNotFoundError: No module named 'tweetpy'

In [ ]:
consumer_key    = '0HwwLndFzphxpc0FtcbTL1FHB'
consumer_secret = '9s0bWRPf99KNseJUtaWRw2XFBVfyvizGEtO2OpSlDm7AcArSaF'

access_token  = '1182380009215840256-5h6QC18s7vaOzMN51mnN0sjKCshbBg'
access_token_secret = 'F1A2XGx3C0FXFK6AIRBFRQDmnkP3KOBYxWCiGgUz4dVek'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth,wait_on_rate_limit=True)

In [ ]:
fetch_tweets=tweepy.Cursor(api.search, q="#sbin",count=10000, lang ="en",since="2020-09-30",until="2020-11-27", tweet_mode="extended").items()

In [ ]:
data=pd.DataFrame(data=[[tweet_info.created_at.date(),tweet_info.full_text]for tweet_info in fetch_tweets],columns=['Date','Tweets'])

In [ ]:
print(data)

          Date                                             Tweets
0   2020-11-26  Love hearing this everyday before the trading ...
1   2020-11-26  Superbb calls provided by my mentor @CArajievv...
2   2020-11-26  Today except #sbin my regular trade and #nifty...
3   2020-11-26  @shail_bhatnagar @CNBC_Awaaz @CNBCBajar @heman...
4   2020-11-26  Buy 2 CURMON #SBIN contracts at 242.95, Sell 3...
5   2020-11-26  Buy 2 CURMON #SBIN contracts at 242.95, Sell 3...
6   2020-11-26  RT @mohit_maxmoh: #SBIN CMP 244.1 Tommorow is ...
7   2020-11-26  #SBIN CMP 244.1 Tommorow is weekly close and a...
8   2020-11-26  #SBIN CMP 243.4 Reversing on hourly charts htt...
9   2020-11-26  SBIN - EQ\n\nBuy Above247.00with SL Below241.0...
10  2020-11-26  RT @shivaji_1983: Similarities between 2014 &a...
11  2020-11-25  #SBIN \n\nLuxury car maker Mercedes-Benz India...
12  2020-11-25  Booked profit in #banknifty and #nifty...... R...
13  2020-11-25  Buy 1 CURMON #SBIN contracts at 242.45, Sell 2...
14  2020-11-25  #investment / SHORT TERM #NSE\nBUY #SBIN cmp 2...
15  2020-11-25  #SBIN\n\nHigh for this series\n\n253\n\nRollov...
16  2020-11-25  #SBIN out at 246.5\n\n#LiveTrades #Intraday #D...
17  2020-11-25  #SBIN\nSBIN in Moving in Bharti way\n158 &gt;&...
18  2020-11-25  #SBIN\nSBIN in Moving in Bharti way\n158 &gt;&...
19  2020-11-25  #SBIN short at 244.6\n\n#LiveTrades #Intraday ...
20  2020-11-25  #SBIN exit 246.1\n\n#LiveTrades #Intraday #Day...
21  2020-11-25  #SBIN shorted at 245.2\n\n#LiveTrades #Intrada...
22  2020-11-25  Ok, #SBIN moving now.\n\n#LiveTrades #Intraday...
23  2020-11-25  #sbin\nToday giving nice swing both side..\nNo...
24  2020-11-25  Buy 1 CURMON #SBIN contracts at 243.45, Sell 2...
25  2020-11-25  #SBIN - SBIN LONG - TradingView - https://t.co...
26  2020-11-25  State Bank India target has been reached #Shor...
27  2020-11-25  #SBIN \nDelivery Buy Call \nCmp          248.5...
28  2020-11-25  Nifty50 trade above 13,100. Nifty Bank 30000+ ...
29  2020-11-25  #SBIN #RBLBANK #IBULHSGFIN BULLISH, BUY IN DIP...
30  2020-11-24  #SBIN - Another trade of the day.  \n\n#PriceA...
31  2020-11-24  #PSU #Banks Ignored in this  Uptrend rally but...
32  2020-11-24  RT @shivaji_1983: Similarities between 2014 &a...
33  2020-11-24                 #sbin too confirms buy signal @243
34  2020-11-24  Top 7 Banks in India \n\nFollow us on @iifsind...
35  2020-11-24  Buy 9 CURMON #BANKBARODA contracts at 46, Sell...
36  2020-11-24  Do u agree for broad based stocks rally #relia...
37  2020-11-24  Buy 9 CURMON #BANKBARODA contracts at 45.95, S...
38  2020-11-24  Huge Up move possible in coming days positiona...
39  2020-11-23  RT @TechnomanThe: SBI Apprentice Recruitment 2...
40  2020-11-23  State Bank Of India Now on Wave C  - #SBIN cha...
41  2020-11-23  #SBIN &amp; #Axis closed !! https://t.co/yt1Xt...
42  2020-11-23            #SBIN ABOVE 241.5 SL 239.95 TGT 244/246
43  2020-11-23  #SBIN #artzteam Support and resistance Please ...
44  2020-11-23  #GraphiteIndia \n#sbin\n few seconds trade\nCa...
45  2020-11-23  State Bank India day high is 246.15. waiting f...
46  2020-11-23  #SBIN long only above 247 ... #frontpage_app h...
47  2020-11-22  #sbin enters into MOU\nWith Luxembourg stock e...
48  2020-11-22  #SBIN - State Bank 15Min Chart For intraday - ...
49  2020-11-22  RT @market_cafe1: Market Cafe Telegram BOT htt...
50  2020-11-22  SBIN still looking positive.\n\nRally likely t...
51  2020-11-22  #SBIN #EXPIRY Call &amp; #POSITIONAL Call\n#Ni...
52  2020-11-22  #SBIN - I think there will be resistance aroun...

In [ ]:
data.to_csv("Tweets.csv")
cdata=pd.DataFrame(columns=['Date','Tweets'])
total=100
index=0
for index,row in data.iterrows():
    stre=row["Tweets"]
    my_new_string = re.sub('[^ a-zA-Z0-9]', '', stre)
    cdata.sort_index()
    cdata.at[index,'Date']=row["Date"]
    #cdata.set_value(index,'Date',row["Date"])
    cdata.at[index,'Tweets']=my_new_string
    #cdata.set_value(index,'Tweets',my_new_string)
    index=index+1
print(cdata.dtypes)

Date      object
Tweets    object
dtype: object

In [ ]:
cdata

          Date                                             Tweets
0   2020-11-26  Love hearing this everyday before the trading ...
1   2020-11-26  Superbb calls provided by my mentor CArajievv ...
2   2020-11-26  Today except sbin my regular trade and nifty 1...
3   2020-11-26  shailbhatnagar CNBCAwaaz CNBCBajar hemantghai ...
4   2020-11-26  Buy 2 CURMON SBIN contracts at 24295 Sell 3 CU...
5   2020-11-26  Buy 2 CURMON SBIN contracts at 24295 Sell 3 CU...
6   2020-11-26  RT mohitmaxmoh SBIN CMP 2441 Tommorow is weekl...
7   2020-11-26  SBIN CMP 2441 Tommorow is weekly close and als...
8   2020-11-26  SBIN CMP 2434 Reversing on hourly charts https...
9   2020-11-26  SBIN  EQBuy Above24700with SL Below24100For Tg...
10  2020-11-26  RT shivaji1983 Similarities between 2014 amp 2...
11  2020-11-25  SBIN Luxury car maker MercedesBenz India has t...
12  2020-11-25  Booked profit in banknifty and nifty Rest all ...
13  2020-11-25  Buy 1 CURMON SBIN contracts at 24245 Sell 2 CU...
14  2020-11-25  investment  SHORT TERM NSEBUY SBIN cmp 245240 ...
15  2020-11-25  SBINHigh for this series253Rollover httpstcooX...
16  2020-11-25     SBIN out at 2465LiveTrades Intraday DayTrading
17  2020-11-25  SBINSBIN in Moving in Bharti way158 gtgtgtgt 2...
18  2020-11-25  SBINSBIN in Moving in Bharti way158 gtgtgtgt 2...
19  2020-11-25   SBIN short at 2446LiveTrades Intraday DayTrading
20  2020-11-25       SBIN exit 2461LiveTrades Intraday DayTrading
21  2020-11-25  SBIN shorted at 2452LiveTrades Intraday DayTra...
22  2020-11-25   Ok SBIN moving nowLiveTrades Intraday DayTrading
23  2020-11-25  sbinToday giving nice swing both sideNo need o...
24  2020-11-25  Buy 1 CURMON SBIN contracts at 24345 Sell 2 CU...
25  2020-11-25   SBIN  SBIN LONG  TradingView  httpstcoiPcsVO0uAM
26  2020-11-25  State Bank India target has been reached Short...
27  2020-11-25  SBIN Delivery Buy Call Cmp          2485Target...
28  2020-11-25  Nifty50 trade above 13100 Nifty Bank 30000 in ...
29  2020-11-25  SBIN RBLBANK IBULHSGFIN BULLISH BUY IN DIPS fr...
30  2020-11-24  SBIN  Another trade of the day  PriceAction Tr...
31  2020-11-24  PSU Banks Ignored in this  Uptrend rally but I...
32  2020-11-24  RT shivaji1983 Similarities between 2014 amp 2...
33  2020-11-24                   sbin too confirms buy signal 243
34  2020-11-24  Top 7 Banks in India Follow us on iifsindiaInd...
35  2020-11-24  Buy 9 CURMON BANKBARODA contracts at 46 Sell 4...
36  2020-11-24  Do u agree for broad based stocks rally relian...
37  2020-11-24  Buy 9 CURMON BANKBARODA contracts at 4595 Sell...
38  2020-11-24  Huge Up move possible in coming days positiona...
39  2020-11-23  RT TechnomanThe SBI Apprentice Recruitment 202...
40  2020-11-23  State Bank Of India Now on Wave C   SBIN chart...
41  2020-11-23           SBIN amp Axis closed  httpstcoyt1Xt0rg2P
42  2020-11-23                SBIN ABOVE 2415 SL 23995 TGT 244246
43  2020-11-23  SBIN artzteam Support and resistance Please pl...
44  2020-11-23  GraphiteIndia sbin few seconds tradeCash ac up...
45  2020-11-23  State Bank India day high is 24615 waiting for...
46  2020-11-23  SBIN long only above 247  frontpageapp httpstc...
47  2020-11-22  sbin enters into MOUWith Luxembourg stock exch...
48  2020-11-22  SBIN  State Bank 15Min Chart For intraday  Tra...
49  2020-11-22  RT marketcafe1 Market Cafe Telegram BOT httpst...
50  2020-11-22  SBIN still looking positiveRally likely to rem...
51  2020-11-22  SBIN EXPIRY Call amp POSITIONAL CallNifty Opti...
52  2020-11-22  SBIN  I think there will be resistance around ...

In [ ]:
ccdata=pd.DataFrame(columns=['Date','Tweets'])

In [ ]:
indx=0
get_tweet=""
for i in range(0,len(cdata)-1):
    get_date=cdata.Date.iloc[i]
    next_date=cdata.Date.iloc[i+1]
    if(str(get_date)==str(next_date)):
        get_tweet=get_tweet+cdata.Tweets.iloc[i]+" "
    if(str(get_date)!=str(next_date)):
        ccdata.at[indx,'Date']=get_date
        ccdata.at[indx,'Tweets']=get_tweet
        indx=indx+1
        get_tweet=" "

In [ ]:
ccdata

         Date                                             Tweets
0  2020-11-26  Love hearing this everyday before the trading ...
1  2020-11-25   SBIN Luxury car maker MercedesBenz India has ...
2  2020-11-24   SBIN  Another trade of the day  PriceAction T...
3  2020-11-23   RT TechnomanThe SBI Apprentice Recruitment 20...

In [ ]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import os
data = '/content/drive/My Drive/Data_science/Input'
for dirname, _, filenames in os.walk(data):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/content/drive/My Drive/Data_science/Input/AXISBANK.csv
/content/drive/My Drive/Data_science/Input/INDUSINDBK (2).csv
/content/drive/My Drive/Data_science/Input/NIFTY50_all (1).csv
/content/drive/My Drive/Data_science/Input/BRITANNIA.csv
/content/drive/My Drive/Data_science/Input/INDUSINDBK (1).csv
/content/drive/My Drive/Data_science/Input/INDUSINDBK.csv
/content/drive/My Drive/Data_science/Input/VEDL.csv
/content/drive/My Drive/Data_science/Input/UPL.csv
/content/drive/My Drive/Data_science/Input/TATASTEEL.csv
/content/drive/My Drive/Data_science/Input/POWERGRID (1) (1).csv
/content/drive/My Drive/Data_science/Input/TCS.csv
/content/drive/My Drive/Data_science/Input/POWERGRID (1).csv
/content/drive/My Drive/Data_science/Input/POWERGRID.csv
/content/drive/My Drive/Data_science/Input/stock_metadata.csv
/content/drive/My Drive/Data_science/Input/BAJAJFINSV.csv
/content/drive/My Drive/Data_science/Input/BHARTIARTL.csv
/content/drive/My Drive/Data_science/Input/TECHM.csv
/content/drive/My Drive/Data_science/Input/ITC.csv
/content/drive/My Drive/Data_science/Input/EICHERMOT.csv
/content/drive/My Drive/Data_science/Input/NESTLEIND.csv
/content/drive/My Drive/Data_science/Input/MARUTI.csv
/content/drive/My Drive/Data_science/Input/JSWSTEEL.csv
/content/drive/My Drive/Data_science/Input/INFY.csv
/content/drive/My Drive/Data_science/Input/MM.csv
/content/drive/My Drive/Data_science/Input/INFRATEL.csv
/content/drive/My Drive/Data_science/Input/ADANIPORTS.csv
/content/drive/My Drive/Data_science/Input/BAJAJ-AUTO.csv
/content/drive/My Drive/Data_science/Input/NTPC.csv
/content/drive/My Drive/Data_science/Input/LT.csv
/content/drive/My Drive/Data_science/Input/TATAMOTORS.csv
/content/drive/My Drive/Data_science/Input/SBIN.csv
/content/drive/My Drive/Data_science/Input/ULTRACEMCO.csv
/content/drive/My Drive/Data_science/Input/WIPRO.csv
/content/drive/My Drive/Data_science/Input/ICICIBANK.csv
/content/drive/My Drive/Data_science/Input/HINDALCO.csv
/content/drive/My Drive/Data_science/Input/BPCL.csv
/content/drive/My Drive/Data_science/Input/RELIANCE.csv
/content/drive/My Drive/Data_science/Input/BAJFINANCE.csv
/content/drive/My Drive/Data_science/Input/CIPLA.csv
/content/drive/My Drive/Data_science/Input/ONGC.csv
/content/drive/My Drive/Data_science/Input/HINDUNILVR.csv
/content/drive/My Drive/Data_science/Input/HEROMOTOCO.csv
/content/drive/My Drive/Data_science/Input/SUNPHARMA.csv
/content/drive/My Drive/Data_science/Input/GAIL.csv
/content/drive/My Drive/Data_science/Input/GRASIM.csv
/content/drive/My Drive/Data_science/Input/COALINDIA.csv
/content/drive/My Drive/Data_science/Input/TITAN.csv
/content/drive/My Drive/Data_science/Input/IOC.csv
/content/drive/My Drive/Data_science/Input/HDFCBANK.csv
/content/drive/My Drive/Data_science/Input/HCLTECH.csv
/content/drive/My Drive/Data_science/Input/ZEEL.csv
/content/drive/My Drive/Data_science/Input/ASIANPAINT.csv
/content/drive/My Drive/Data_science/Input/HDFC.csv
/content/drive/My Drive/Data_science/Input/DRREDDY.csv
/content/drive/My Drive/Data_science/Input/KOTAKBANK.csv
/content/drive/My Drive/Data_science/Input/SHREECEM.csv
/content/drive/My Drive/Data_science/Input/NIFTY50_all.csv

In [ ]:
data = '/content/drive/My Drive/Data_science/SBIN30.csv'

Any stock dataset you want to add in the website can be taken from the website given above then traing the model on that dataset .
The dataset is tanken from https://in.finance.yahoo.com/

In [ ]:
read_stock_p=pd.read_csv(data)
read_stock_p

           Date        Open        High  ...       Close   Adj Close      Volume
0    2019-12-02  343.899994  344.350006  ...  338.500000  338.500000  20648850.0
1    2019-12-03  341.000000  342.950012  ...  336.250000  336.250000  26482178.0
2    2019-12-04  334.100006  342.950012  ...  341.850006  341.850006  26789483.0
3    2019-12-05  343.000000  344.600006  ...  336.200012  336.200012  30429507.0
4    2019-12-06  336.700012  337.649994  ...  320.000000  320.000000  47027528.0
..          ...         ...         ...  ...         ...         ...         ...
245  2020-11-23  243.500000  246.149994  ...  238.699997  238.699997  57538324.0
246  2020-11-24  240.500000  245.000000  ...  243.850006  243.850006  47636611.0
247  2020-11-25  245.449997  249.899994  ...  243.000000  243.000000  74767232.0
248  2020-11-26  244.000000  246.250000  ...  245.449997  245.449997  64248318.0
249  2020-11-27  245.449997  246.250000  ...  244.250000  244.250000  54355703.0

[250 rows x 7 columns]

In [ ]:
ccdata['Prices']=""

In [ ]:
indx=0
for i in range (0,len(ccdata)):
    for j in range (0,len(read_stock_p)):
        get_tweet_date=ccdata.Date.iloc[i]
        get_stock_date=read_stock_p.Date.iloc[j]
        if(str(get_stock_date)==str(get_tweet_date)):
            print(get_stock_date," ",get_tweet_date)
            ccdata.at[i,'Prices']=int(read_stock_p.Close[j])
            break

2020-11-26   2020-11-26
2020-11-25   2020-11-25
2020-11-24   2020-11-24
2020-11-23   2020-11-23

In [ ]:
ccdata

         Date                                             Tweets Prices
0  2020-11-26  Love hearing this everyday before the trading ...    245
1  2020-11-25   SBIN Luxury car maker MercedesBenz India has ...    243
2  2020-11-24   SBIN  Another trade of the day  PriceAction T...    243
3  2020-11-23   RT TechnomanThe SBI Apprentice Recruitment 20...    238

In [ ]:
ccdata=ccdata[ccdata['Prices'].str.strip().astype(bool)]

AttributeError: ignored

In [ ]:
ccdata

In [ ]:
ccdata['Prices'] = ccdata['Prices'].apply(np.int64)

In [ ]:
ccdata["Comp"] = ''
ccdata["Negative"] = ''
ccdata["Neutral"] = ''
ccdata["Positive"] = ''
ccdata

In [ ]:
import nltk
nltk.downloader.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import unicodedata
sentiment_i_a = SentimentIntensityAnalyzer()
for indexx, row in ccdata.T.iteritems():
    try:
        sentence_i = unicodedata.normalize('NFKD', ccdata.loc[indexx, 'Tweets'])
        sentence_sentiment = sentiment_i_a.polarity_scores(sentence_i)
        ccdata.at[indexx,'Comp']=sentence_sentiment['compound']
        ccdata.at[indexx,'Negative']=sentence_sentiment['neg']
        ccdata.at[indexx,'Neutral']=sentence_sentiment['neu']
        ccdata.at[indexx,'Positive']=sentence_sentiment['pos']
        if sentence_sentiment['neg']>0.015:
            ccdata.at[indexx,'Senti']=-1
        elif sentence_sentiment['pos']>0.1:
            ccdata.at[indexx,'Senti']=1
        else:
            ccdata.at[indexx,'Senti']=0
    except TypeError:
        print (stocks_dataf.loc[indexx, 'Tweets'])
        print (indexx)

In [ ]:
ccdata

In [ ]:
posi=0
nega=0
xyz=ccdata['Comp']

In [ ]:
print(xyz)

In [ ]:
xy=0

In [ ]:
for i in ccdata.Senti:
    print(i)
    get_val=i
    if(float(get_val)<0):
        nega=nega+1
    if(float(get_val)>0):
        posi=posi+1
    xy=xy+1
posper=(posi/(posi+nega))*100
negper=(nega/(posi+nega))*100
print("% of positive tweets= ",posper)
print("% of negative tweets= ",negper)
arr=np.asarray([posper,negper], dtype=int)
mlpt.pie(arr,labels=['positive','negative'])
mlpt.plot()

In [ ]:
df_=ccdata[['Date','Prices','Comp','Negative','Neutral','Positive']].copy()

In [ ]:
train_start_index = '0'
train_end_index = '6'
test_start_index = '7'
test_end_index = '9'
train = df_.loc[train_start_index : train_end_index]
test = df_.loc[test_start_index:test_end_index]

In [ ]:
sentiment_score_list = []
for date, row in train.T.iteritems():
    sentiment_score = np.asarray([df_.loc[date, 'Negative'],df_.loc[date, 'Positive']])
    sentiment_score_list.append(sentiment_score)
numpy_df_train = np.asarray(sentiment_score_list)

In [ ]:
print(numpy_df_train)

In [ ]:
sentiment_score_list = []
for date, row in test.T.iteritems():
    sentiment_score = np.asarray([df_.loc[date, 'Negative'],df_.loc[date, 'Positive']])
    sentiment_score_list.append(sentiment_score)
numpy_df_test = np.asarray(sentiment_score_list)

In [ ]:
print(numpy_df_test)

In [ ]:
y_train = pd.DataFrame(train['Prices'])
y_test = pd.DataFrame(test['Prices'])
print(y_train)

In [ ]:
!pip install treeinterpreter

In [ ]:
from treeinterpreter import treeinterpreter as ti
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import classification_report,confusion_matrix
import matplotlib.pyplot as plt
import sys
rf = RandomForestRegressor()
rf.fit(numpy_df_train, y_train)
prediction, bias, contributions = ti.predict(rf, numpy_df_test)

In [ ]:
print(prediction)

In [ ]:
print(prediction)

In [ ]:
idx=np.arange(int(test_start_index)-2,int(test_end_index))

In [ ]:
predictions_df_ = pd.DataFrame(data=prediction[:], index = idx, columns=['Prices'])

In [ ]:
predictions_df_

In [ ]:
ax = predictions_df_.rename(columns={"Prices": "predicted_price"}).plot(title='Random Forest predicted prices')#predicted value
ax.set_xlabel("Indexes")
ax.set_ylabel("Stock Prices")
fig = y_test.rename(columns={"Prices": "actual_price"}).plot(ax = ax).get_figure()#actual value
fig.savefig("random forest.png")

In [ ]:
from treeinterpreter import treeinterpreter as ti
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import classification_report,confusion_matrix

reg = LinearRegression()
reg.fit(numpy_df_train, y_train)

In [ ]:
reg.predict(numpy_df_test)

In [ ]:
'''Since our dataset is very small and as you can see that 
fetching 600 tweets could only make data for just 3-10 days.
Also the prediction is not very great in such small dataset. 
So we found this new dataset on internet which has the Text as "Tweets"
and respective "close price" and "Adjusted close price".
Adjusted Close Price: An adjusted closing price is a stock's 
closing price on any given day of trading that has been amended to 
include any distributions and corporate actions that occurred at any 
time before the next day's open.'''